<!--Universal Selector-->
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<!--Body Styling-->
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #151414;
}
<!--Header Styling-->
header {
    background-color: rgb(14, 14, 186);
    color: green;
    text-align: center;
    padding: 20px;
}
<!--Navigation Styling-->
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #49637f;
}
<!--Hero Section header Styling-->
.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
}
<!--Hero Section paragraph Styling-->
.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}
<!--Hero Section button Styling-->
.hero button {
    background-color: #003366;
    color: rgb(61, 6, 6);
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #0055aa;
}

.about {
    padding: 40px 20px;
    text-align: center;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
}
}