*{
    box-sizing: border-box;
}
body{

    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}



/*header*/
.top-header{
    
    background-color: #153c7a;
}
.btn{
    display:inline-block;
    background:#153c7a;
    color:white;
     padding:14px 35px;
    border-radius:10px;
    transition:0.3s;
    font-weight:600;
}
.btn:hover{
   background:#4877ce;
   transform:translateY(-3px);
}
/*carousel*/
.carousel-inner img{
    height: 400px;
    object-fit: cover;
}
.block-heading{
    color: black;
}
 /*Advertisement*/
.ads{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px
}
.ads div {
    height: 85px;
    background-color: #ccc;
    display: flex;
    align-items:center ;
    justify-content: center;
    color: white

  }

  .heading-box h3 {
    margin: 0 0 8px 0;
    font-size: 18px;
    font-weight: bold;
  }

  .heading-box p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }


    .heading-grid {
      grid-template-columns: 1fr;
    }
    .main-content {
      width: 65%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

/*widget*/
.widget{
    margin-top: 10px;
}
.widget h5{
    font-size: 18px;
}
.widget ul{
    padding-left: 20px ;
}
.widget li{
    font-size: 13px;
    margin-bottom: 5px;
}




/*Footer*/
footer{
    background: #eee;
    padding: 10px;

    color: #777;
    font-size: 12px;
}





